@inherits PostBase

<div class="container">
    @if (ErrorMessageIsVisible)
    {
        <div class="row">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> @ErrorMessage.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong class="mr-auto">Bootstrap</strong>
                <small>11 second ago</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                @ErrorMessage
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            @if (string.IsNullOrWhiteSpace(Post?.PostTitle))
            {
                <h3>@Title New Post</h3>
            }
            else
            {
                <h3>@Title @Post.PostTitle</h3>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="form-group">
                @if (CategoriesList is null)
                {
                    <div class="alert alert-warning">Loading</div>
                }
                else
                {
                    <srtong class="col-form-label">Categories: </srtong>
                    <div class="form-check form-check-inline">

                        <select @bind="@SelectedCategoryId" class="form-control form-check-input">
                            <option value="@Guid.Empty">Select category</option>

                            @foreach (var cnt in CategoriesList)
                            {
                                <option value="@cnt.CategoryId">@cnt.CategoryName</option>
                            }

                        </select>
                        <button class="btn btn-outline-dark form-check-inline" title="Add category to post" @onclick="@AddPostCategory">
                            <span class="oi oi-plus" />
                        </button>
                    </div>
                }
            </div>
            <p>
                @if (Categories != null)
                {
                    <div class="form-check form-check-inline">
                        <strong class="col-form-label">Post categories:   </strong>
                        <ul class="col-form-label list-inline list-unstyled">
                            @foreach (var category in Categories)
                            {
                                <li class="list-inline-item">
                                    <span class="badge badge-light">
                                        <i class="oi oi-delete" @onclick="@(()=> RemoveCategory(category))"></i>
                                        <span>
                                            @category.CategoryName
                                        </span>
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </p>
        </div>
    </div>
    <div class="row">
        <Duraid.Blazor.Shared.Helper.PhotoUploader PhotoDeleted="PhotoDeleted" PhotoInserted="PhotoInserted"  />
    </div>
        
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            @if (Post != null)
            {
                <EditForm Model="@Post" OnValidSubmit="@SaveAsync">
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <p> Post title</p>
                        <InputText class="form-control" @bind-Value="@Post.PostTitle" />
                        <ValidationMessage For="@(() => Post.PostTitle)" />

                    </div>

                    @*<div class="form-group">
                            <p> Post Content</p>
                            <InputTextArea class="form-control" @bind-Value="@Post.PostContent"/>
                            <ValidationMessage For="@(() => Post.PostContent)" />
                        </div>*@
                    <Duraid.Blazor.Shared.Helper.RichEditor @ref="@RichEditor" QuillContent="@Post.PostContent" />

                    <div class="btn-block">
                        <button class="btn btn-outline-primary" type="submit" title="Save"><span class="oi oi-check" /></button>
                        <a href="admin/posts" class="btn btn-dark" title="Back"><span class="oi oi-arrow-circle-left" /></a>

                    </div>
                </EditForm>
            }
            else
            {
                <h4>Loading..</h4>
            }

        </div>
    </div>

</div>
